/* Start dashboard Get A Quote Form */
/* Empty State */
.empty-state {
    background-color: var(--white-color);
    border-radius: var(--border-radius-15);
    padding: 60px 40px;
    text-align: center;
    box-shadow: var(--shadow-03);
    -webkit-border-radius: var(--border-radius-15);
    -moz-border-radius: var(--border-radius-15);
    -ms-border-radius: var(--border-radius-15);
    -o-border-radius: var(--border-radius-15);
}

.empty-state h3 {
    color: var(--primary-brick-red);
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.empty-state p {
    color: var(--light-gray);
    font-size: 1.125rem;
    line-height: 1.4;
}
/* Start dashboard Get A Quote Form */
